---
import Icon from 'astro-icon';
import {Image, Picture} from '@astrojs/image/components';
// type sharedT = {hostingAddress: string, sourceCodeAddress: string, mediaAddress: string}
const shared = {
    hostingAddress: 'https://segfaulty.netlify/kdjfds/',
    sourceCodeAddress: 'https://wwww.github.com/segfaulty1',
    mediaAddress: '/media/projects',
};

type projectItemsT = {
    card: {
        width: number;
        aspectRatio: string;
        mediaLink: string;
        previewLink: string;
        sourceCodeLink: string;
    };
    details: {
        title: string;
        idea: string;
        obstacles: string[][];
        tools: string[];
    };
}[];
const projectItems: projectItemsT = [
    {
        card: {
            width: 400,
            aspectRatio: '1:1',
            mediaLink: `${shared.mediaAddress}/snipshare.jpeg`,
            previewLink: `${shared.hostingAddress}/snipshare`,
            sourceCodeLink: `${shared.sourceCodeAddress}/snipeshare`,
        },
        details: {
            title: 'SnipShare - snippet sharing',
            idea: `The idea of this app is that code snippets of any programming language could be
                shared around with other developers`,
            obstacles: [['obstacle 1', 'I refactored the code']],
            tools: ['html', 'css', 'tailwind', 'react', 'nodejs', 'expressjs', 'mysql'],
        },
    },
];
---

<section
    id="portfolio"
    aria-label="projects"
    class="text-slate-50 pt-[6rem] px-main xs>:px-4 overflow-y-hidden"
>
    <h2
        class={`text-center capitalize text-2xl relative
              before:absolute
              before:border-b-2 before:border-b-primary
              before:w-[2.3rem] before:h-[38px]`}
    >
        My <span class="text-primary">portfolio</span>
    </h2>

    {
        projectItems.map((item) => {
            return (
                <>
                    <div
                        aria-label="project box"
                        class="flex flex-wrap justify-center gap-6"
                    >
                        <div
                            aria-label="project preview"
                            class="grow basis-0 flex flex-col items-center mt-[3rem] animate-loadFromUp"
                        >
                            <Picture
                                class="min-w-[280px] sxs>:min-w-0"
                                widths={[400, 600, 800]}
                                aspectRatio={item.card.aspectRatio}
                                formats={['webp']}
                                src={`${item.card.mediaLink}`}
                                alt="project image"
                            />

                            {/*check project buttons*/}
                            <div
                                aria-label="project buttons"
                                class="w-full flex-wrap flex justify-around gap-4 mt-5"
                            >
                                {[
                                    // ['preview', 'ic:round-remove-red-eye', item.card.previewLink],
                                    ['preview', 'ic:twotone-remove-red-eye', item.card.previewLink],
                                    ['code', 'ph:code', item.card.sourceCodeLink],
                                ].map((button) => {
                                    return (
                                        <a
                                            href={button[2]}
                                            class="w-max text-primary border-[1px] border-primary px-3 py-1 rounded-xl
                                            subtleHoverSlider group"
                                        >
                                            <Icon
                                                name={button[1]}
                                                class="w-8 mr-1 inline group-hover:scale-[1.2] duration-300"
                                            />
                                            {button[0]}
                                        </a>
                                    );
                                })}
                            </div>
                        </div>

                        <div
                            aria-label="project details"
                            class="grow basis-0 min-w-[250px] mt-[3rem] animate-loadFromDown"
                        >
                            <h3 class="capitalize mb-2 text-xl">{item.details.title}</h3>
                            <p class="first-letter:uppercase text-gray-400 max-w-md">
                                {item.details.idea}
                            </p>
                            <h4 class="capitalize text-lg mt-3 mb-2">
                                Obstacles I Faced
                            </h4>
                            <ul class="ml-3">
                                {item.details.obstacles.map((obs) => {
                                    return (
                                        <li>
                                            <h5 class="capitalize">
                                                <span class="text-xl text-primary mr-2">
                                                    ⚡
                                                </span>
                                                {obs[0]}
                                            </h5>
                                            <p class="ml-3 text-gray-400 first-letter:uppercase">
                                                {obs[1]}
                                            </p>
                                        </li>
                                    );
                                })}
                            </ul>

                            <h4 class="capitalize text-lg mt-3 mb-2">Tools Used</h4>
                            <ul class="flex flex-wrap gap-3 py-2 max-w-lg">
                                {item.details.tools.map((tool) => {
                                    return (
                                        <li class="text-gray-400 border-primary border-[1px] rounded-xl px-3 hover:rotate-[2deg] hover:scale-[1.1] duration-300">
                                            {tool}
                                        </li>
                                    );
                                })}
                            </ul>
                        </div>
                    </div>
                </>
            );
        })
    }
</section>
